@import url("https://fonts.cdnfonts.com/css/miama-nueva");

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Book"), local("FuturaPT-Book"),
    url("../font/FuturaPT-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond";
  src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"),
    url("../font/FuturaPTCond-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Light"), local("FuturaPT-Light"),
    url("../font/FuturaPT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Demi"), local("FuturaPT-Demi"),
    url("../font/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"), local("FuturaPT-Medium"),
    url("../font/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond";
  src: local("Futura PT Cond Medium"), local("FuturaPTCond-Medium"),
    url("../font/FuturaPTCond-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Miama Nueva";
  src: url("../font/miama_nueva.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
