@import url("font.css");
@import url("common.css");

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  padding: 32px 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(90deg, #171c23 16%, rgba(23, 28, 35, 0) 91.2%);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: grayscale(100%) blur(0.6px);
}

.grid-item-1 {
  display: flex;
  justify-content: center;
}
.grid-item-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.burger {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  background-color: var(--color);
  border-radius: 5px;
  outline: 2px solid transparent;
  transition: background 0.4s ease, outline 0.4s ease, color 0.3s ease;
}

.burger:hover {
  background: #181d23;
  color: var(--color);
  outline: 2px solid var(--color);
}
.burger:hover .burger__wrapp span {
  background: var(--color);
}

.burger__wrapp {
  width: 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.burger__span-1,
.burger__span-2 {
  display: block;
  height: 2px;
  background-color: #3e352e;
  transition: background 0.4s ease;
}

.burger__span-1 {
  width: 100%;
}
.burger__span-2 {
  width: 50%;
}

.burger__text {
  font-size: 18px;
}

.header__address {
  margin-right: auto;
}

.header__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.header__link-phone {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 0px 0px 0px transparent;
  transition: text-shadow ease 0.3s;
  font-size: 20px;
}

.header__link-mail {
  text-shadow: 0px 0px 0px transparent;
  color: var(--color);
  transition: text-shadow ease 0.3s;
}

.header__link-mail:hover,
.header__link-phone:hover {
  text-shadow: 0px 0px 7px #ffffffa6;
}

.header__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header__item {
  position: relative;
  width: 20px;
  height: 20px;
}

.header__item a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header__item:nth-child(1) {
  background: url("../img/wa-icon.svg") no-repeat center / contain;
}

.header__item:nth-child(2) {
  background: url("../img/tg-icon.svg") no-repeat center / contain;
  width: 22px;
}

.header__item:nth-child(3) {
  background: url("../img/vk-icon.svg") no-repeat center / contain;
  width: 26px;
}

.header__btn {
  border: 1px solid var(--color);
  padding: 10px 36px;
  background: transparent;
  border-radius: 5px;
  font-size: 20px;
  line-height: 25px;
  color: var(--color);
  transition: background 0.4s ease, border 0.4s ease, color 0.3s ease;
}

.header__btn:hover {
  background: var(--color);
  color: var(--text-color);
  border: 1px solid var(--color);
}

.view__title {
  padding-left: 90px;
  width: min-content;
  font-family: var(--second-family);
  font-size: 128px;
  line-height: 98px;
  font-weight: 400;
}

.view__title span {
  color: var(--color);
  letter-spacing: -9px;
}

.view {
  position: relative;
  height: 848px;
  align-items: end;
}

.view-bg {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.view-bg .grid-item {
  width: 100%;
  height: 100%;
}

.view-bg .grid-s-2 {
  width: 100%;
  height: 100%;
  background: url("../img/main-fon.jpg") no-repeat center / cover;
}

.view > .grid-s-2 {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.view > .grid-item {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: grayscale(100%) blur(0.6px);
}

.view__desc {
  padding: 38px 50px 38px 170px;
  font-size: 26px;
  text-align: end;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 600px;
  line-height: 35px;
  background: #3e352e;
}

.view__desc span {
  color: var(--color);
}

.view__wrapp {
  gap: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 40px;
  background: var(--color);
}

.view__card-text {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
}

.view__inner-btn {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.view__btn {
  position: relative;
  width: 50%;
  padding: 15px 0;
  transition: background 0.3s ease;
}

.view__btn::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.view__btn:nth-child(1) {
  background: url("../img/arrow-left-icon.svg") no-repeat center / contain;
}

.view__btn:nth-child(2) {
  background: url("../img/arrow-right-icon.svg") no-repeat center / contain;
}

.view__btn:nth-child(1):hover {
  background: url("../img/arrow-left-light-icon.svg") no-repeat center / contain;
}

.view__btn:nth-child(2):hover {
  background: url("../img/arrow-right-light-icon.svg") no-repeat center /
    contain;
}

.work--1 {
  padding-top: 160px;
  margin-bottom: 200px;
}

.work--1__container {
}

.work--1 .grid-item {
  margin-left: 15px;
  background: url("../img/effect-2-img.png") no-repeat left bottom / contain,
    #3e352e;
}

.work-1__title {
  top: 26px;
}

.work-1__title span {
}

.work--1 .grid-s-2 {
  display: flex;
  flex-direction: row;
  padding-left: 106px;
}

.work-1__inner-text {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.work-1__subtitle {
  font-size: 26px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 450;
  letter-spacing: 2px;
}

.work-1__text {
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffffcc;
}

.work-1__desc {
  font-size: 22px;
  line-height: 35px;
  font-family: var(--second-family);
  letter-spacing: 4px;
}

.work-1__inner-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  padding: 70px 10px 10px;
  aspect-ratio: 1.8;
  background-color: var(--color);
}

.work-1__inner-picture {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
}

.work-1__inner-picture img {
  width: 100%;
  height: 100%;
}

.work-1__img {
  width: 100%;
  object-fit: contain;
}

.work-1__inner-picture::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  background: url("../img/plus-icon.svg") no-repeat center / 16px, #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
  transform-origin: left top;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.work-1__inner-picture:hover::after {
  transform: scale(1.1) translate(-50%, -50%);
}

.video {
  position: relative;
  font-size: 0;
}

.video__video {
  width: 100%;
  height: 850px;
  object-fit: cover;
  filter: brightness(0.7);
}

.video::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 50%;
  background: url("../img/video-play-icon.svg") no-repeat 56% / 25px, #181d2380;
}

.about--1 {
}

.about--1 .grid-s-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  padding: 140px 0;
  padding-right: 58px;
  background: url("../img/circle-img.png") no-repeat left center / contain,
    #ffdec1;
  background-origin: content-box;
}

.about--1 .grid-item {
  background: url("../img/about-1-img.png") no-repeat center / cover;
}

.about--1__title {
  margin-bottom: 35px;
  padding-right: 80px;
  line-height: 74px;
  font-weight: 400;
  font-family: var(--second-family);
  font-size: 70px;
  letter-spacing: -2px;
  color: var(--color);
}

.about--1__subtitle {
  text-align: start;
  margin-bottom: 38px;
  font-size: 75px;
  font-weight: 300;
  line-height: 80px;
  color: var(--text-color);
  text-transform: uppercase;
}

.about--1__subtitle span {
  font-weight: 500;
}

.about--1__inner {
}

.about--1__wrapp-list {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: flex-end;
}

.about--1__list {
  flex-direction: column;
  gap: 20px;
}

.about--1__list:nth-child(1) {
  max-width: 320px;
}

.about--1__list:nth-child(2) {
  max-width: 500px;
}

.about--1__item {
  text-align: start;
  color: var(--text-color);
}

.about--1__text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.about--1__text span {
  font-weight: 400;
  color: #4f453d;
}

.work--2 {
  padding-top: 140px;
}

.work--2 .grid-container {
  grid-template-columns: 0.7fr 1.8fr 0.5fr;
}

.work--2__item {
  position: relative;
  padding-left: 66px;
  cursor: pointer;
}

.work--2__item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  height: 2px;
  transition: background-color 0.3s ease;
  background-color: transparent;
  z-index: 1;
}

.work--2__item:hover::after {
  background-color: #ffc594;
}

.work--2__item span {
  background: #3e352e;
  padding: 0px 28px;
  z-index: 2;
  position: relative;
}

.work--2__title {
  margin-bottom: 66px;
}

.work--2__title span {
}

.work--2__list {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  background: #3e352e;
}

.work--2__item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.work--2__item:hover {
  font-weight: 500;
  color: var(--color);
}

.work--2 .grid-item:nth-child(1) {
  padding-right: 10px;
}

.work--2 .grid-item:nth-child(2) {
  background-color: #fff;
}

.work--2 .grid-item:nth-child(3) {
  margin-left: 10px;
  background: #e5ae78;
}

.work--2__inner-picture {
  padding: 10px;
  width: 100%;
  object-fit: contain;
}

.work--3 {
  position: relative;
  padding: 130px 0;
  background: url("../img/effect-4-img.png") no-repeat 0% 109%/ 20%,
    linear-gradient(to bottom, transparent 34.8%, #3e352e 34.8%),
    url("../img/effect-3-img.png") no-repeat 69% -26% / 36%;
}

/* 
  url("../img/effect-5-img.png") no-repeat bottom left / 235px, linear-gradient(to bottom, transparent 34.2%, #3e352e 34.2%)
*/

.work--3::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 144px;
  height: 33%;
  z-index: -1;
  background: url("../img/font-1-img.png") no-repeat center / contain;
  background-origin: content-box;
}

.work--3__container {
  gap: 55px;
  display: flex;
  flex-direction: row;
}

.work--3__title {
  margin-bottom: 80px;
}

.work--3__inner-left {
  font-size: 0;
}

.work--3__list {
  flex-direction: column;
  gap: 54px;
  align-items: flex-end;
}

.work--3__item {
  position: relative;
  overflow: hidden;
  opacity: 1;
  /* animation: fadeEffect 8s ease-in-out infinite; */
  max-width: 650px;
  width: 650px;
  cursor: pointer;
}

/* .work--3__item:nth-child(1) {
  animation-delay: 0.2s;
}
.work--3__item:nth-child(2) {
  animation-delay: 0.4s;
}
.work--3__item:nth-child(3) {
  animation-delay: 0.8s;
} */

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    filter: brightness(0.5);
  }
  100% {
    opacity: 1;
  }
}

.work--3__item:not(.btn) {
  padding: 110px 80px 40px;
  height: 450px;
}

.work--3__btn {
  text-align: left;
  font-weight: 450;
  padding: 50px 74px;
  width: 100%;
  text-transform: uppercase;
  font-size: 22px;
  background: url("../img/arrow-right-icon.svg") no-repeat 86% / 120px,
    var(--color);
  color: var(--text-color);
}

.work--3__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: filter 0.5s ease-in-out;
}

.work--3__inner-right {
  flex: auto 1 0;
  display: flex;
  align-items: flex-end;
}

.work--3__subtitle {
  font-family: var(--second-family);
  font-size: 35px;
  line-height: 76px;
  color: var(--color);
}

.work--3__text {
  color: #fff;
  font-size: 22px;
  line-height: 35px;
}

.work--3__subtitle,
.work--3__text {
  position: relative;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  /* animation: textFade 8s ease-in-out infinite; */
}

.work--3__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background-color: rgba(24, 29, 35, 0.8);
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.work--3__item:not(.btn):hover::before {
  opacity: 1;
}

.work--3__item:hover .work--3__subtitle,
.work--3__item:hover .work--3__text {
  opacity: 1;
}

@keyframes textFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.work--4 {
  background: #fff;
  padding-bottom: 130px;
  overflow: hidden;
}

.work--4__container {
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.work--4__inner-left {
  width: 28%;
  padding-top: 160px;
}

.work--4__inner-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 72%;
}

.work--4__inner-right::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 110%;
  height: 100%;
  background: url("../img/work-1-img.jpg") no-repeat center / cover;
}

.work--4__title {
  font-weight: 400;
  margin-bottom: 90px;
  color: var(--text-color);
}

.work--4__inner-text {
  padding: 82px 65px;
  background: url("../img/effect-5-img.png") no-repeat 9% 10% / 120%,
    var(--text-color);
}

.work--4__subtitle {
  margin-bottom: 16px;
  font-weight: 450;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
}

.work--4__text {
  max-width: 240px;
  font-size: 22px;
  line-height: 24px;
  opacity: 80%;
}

.work--4__list {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 26px;
  left: -25px;
  bottom: 25px;
}

.work--4__item {
  width: 220px;
  height: auto;
  aspect-ratio: 1;
  font-size: 0;
}

.work--4__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about--2 {
  /* background-color: #4f453d; */
  background-color: #3e352e;
}

.about--2__container {
  position: relative;
  display: flex;
  flex-direction: row;
  background: url("../img/effect-6-img.png") no-repeat -4% 35% / 50%;
}

.about--2__container::after {
  content: "";
  position: absolute;
  background: url("../img/effect-6-img.png") no-repeat -4% 35% / 50%, #4f453d;
  height: 100%;
  top: 0;
  right: 0;
  left: -10%;
  z-index: 0;
  bottom: 0;
}

.about--2 .grid-item:nth-child(1) {
  padding: 160px 0;
}

.about--2 .grid-item:nth-child(1)::after {
}

.about--2 .grid-item:nth-child(2) {
  background: #3e352e;
  width: 220px;
  z-index: 2;
  flex: auto 1 0;
}

.about--2 .font {
  font-size: 140px;
  font-family: var(--second-family);
}

.about--2__title {
  padding-left: 220px;
  font-size: 50px;
  line-height: 64px;
  z-index: 1;
}

.request--1 {
  background: #f9f0eb;
}

.request--1__container .grid-item {
  padding: 200px 0;
}

.request--1__container .grid-item:nth-child(1) {
  width: 57.5%;
}

.request--1__container .grid-item:nth-child(2) {
  width: 42.5%;
  padding: 200px 120px;
  background: #fff;
}

.request--1__container {
  display: flex;
  padding-right: 220px;
}

.request--1 .grid-item:nth-child(1) {
  padding-right: 80px;
}

.grid-item > .request--1__title:nth-child(1) {
  padding-left: 220px;
}

.grid-span {
  padding-left: 220px;
}

.request--1__title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  color: var(--text-color);
}

.request--1__title.font {
  margin-bottom: 40px;
  font-size: 110px;
  color: #936641;
  text-transform: initial;
  font-family: var(--second-family);
}

.request--1__desc {
  font-size: 24px;
  color: var(--text-color);
}

.request--1__link {
  color: #936641;
  font-weight: 600;
}

.request--1__form {
  display: flex;
  flex-direction: column;
}

.request--1__btn {
  width: max-content;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  background: #936641;
  border-radius: 5px;
  padding: 14px 56px;
}

.work--5 {
  position: relative;
}

.work--5__slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
}

.work--5__img {
  width: 100%;
  height: 100%;
  font-size: 0;
  object-fit: cover;
}

.work--5__wrapp-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.work--5__btn {
  max-width: 245px;
  flex: 245px 1 0;
  /* width: 145%; */
  padding: 45px 50px;
  transition: background 0.3s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: #e5ae78;
}

.work--5__img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.work--5__img.active {
  opacity: 1;
}

.work--5__btn.right {
  background-image: url("../img/arrow-right-icon.svg");
}

.work--5__btn.left {
  background-image: url("../img/arrow-left-icon.svg");
}

.work--5__btn.right.last {
  background-image: url("../img/arrow-l-right-icon.svg");
  background-color: transparent;
}

.work--5__btn.left.last {
  background-image: url("../img/arrow-l-left-icon.svg");
  background-color: transparent;
}

.work--5__video-wrapp {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 30px;
  background-color: #dba06f;
  transform: translateX(-50%);
}

.work--5__video-inner {
  position: relative;
}

.work--5__video-inner::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 50%;
  background: url(../img/video-play-icon.svg) no-repeat 56% / 25px, #181d2380;
}

.work--5__video {
  width: 300px;
  height: 215px;
  margin-bottom: 22px;
  border-radius: 5px;
}

.work--5__video-text {
  text-align: center;
  max-width: 230px;
  font-size: 24px;
  left: 24px;
  font-weight: 400;
  color: var(--text-color);
}

.work--5__video-text span {
  font-weight: 500;
}

.work--5__container {
}

.background {
  background: #3e352e;
}

.work--5__wrapp-title {
  padding: 80px 0 40px;
  background: url("../img/font-2-img.png") no-repeat left / contain, #181d23;
  background-origin: content-box;
}

.work--5__title {
  max-width: 680px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.work--5__wrapp-body {
  padding: 96px 0 100px;
  background: #3e352e;
}

.work--5__wrapp-list {
  flex-direction: row;
  gap: 40px;
}

.work--5__list {
  flex-direction: column;
  gap: 10px;
}

.work--5__item:nth-child(1) {
  font-family: var(--second-family);
  color: var(--color);
  font-size: 30px;
  line-height: 58px;
}

.work--5__item {
  font-size: 22px;
  color: #fff;
  line-height: 35px;
}

.work--5__item span {
  font-weight: 500;
}

.work--6 {
  padding: 140px 0 450px;
  background: linear-gradient(180deg, #181d23 41.9%, rgba(24, 29, 35, 0) 100%),
    url("../img/review-2-img.jpg") no-repeat bottom / contain;
}

.work--6__container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.work--6__title {
  width: 60%;
}

.work--6__wrapp-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: auto;
}

.work--6__btn {
  width: 50%;
  /* flex: 245px 1 0; */
  padding: 45px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: #e5ae78;
}
.work--6__btn.right {
  background-image: url("../img/arrow-right-icon.svg");
}

.work--6__btn.left {
  background-image: url("../img/arrow-left-icon.svg");
}

.work--6__btn.right.last {
  background-image: url("../img/arrow-l-right-icon.svg");
  background-color: transparent;
}

.work--6__btn.left.last {
  background-image: url("../img/arrow-l-left-icon.svg");
  background-color: transparent;
}

.work--6__wrapp-slider {
  background: #181d23;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.work--6__wrapp-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-left: 1px solid #e5ae78;
  border-top: 1px solid #e5ae78;
  border-bottom: 1px solid #e5ae78;
}

.work--6__video-inner {
  min-height: 400px;
  max-height: 650px;
  width: 50%;
}

.work--6__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work--6__body {
  padding: 56px 66px;
}
.work--6__desc {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color);
}

.work--6__name {
  font-size: 60px;
  line-height: 43px;
  color: var(--color);
  margin-bottom: 90px;
  font-family: var(--second-family);
}

.work--6__text {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.work--6__btn {
}
.left {
}
.last {
}
.right {
}

.about--3 {
  padding: 165px 0 0;
}

.about--3__container {
  display: flex;
  flex-direction: row;
  background: url("../img/effect-7-img.png") no-repeat 44% 131% / 24%;
}

.about--3__title {
  padding-left: 220px;
  margin-bottom: 66px;
  font-size: 50px;
  line-height: 55px;
}

.about--3__title:nth-child(2) {
  padding-left: 80px;
}

.about--3__title span {
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 120px;
  line-height: 43px;
  font-family: var(--second-family);
  color: var(--color);
}

.about--3__wrapp-title {
  z-index: 1;
}

.about--3__wrapp-title,
.about--3__video-wrapp {
  width: 50%;
}

.about--3__video-wrapp {
  font-size: 0;
}

.about--3__video {
  width: 100%;
  opacity: 80%;
}

.about--3__list {
  flex-direction: row;
}

.about--3__item {
  width: 25%;
  padding: 80px 60px 86px 100px;
}

.about--3__subtitle {
  font-size: 24px;
  color: var(--text-color);
  line-height: 30px;
  font-weight: 450;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-wrap: balance;
}

.about--3__text {
  color: #3e352ecc;
  font-size: 20px;
  line-height: 22px;
  text-wrap: balance;
}

.about--3__wrapp-svg {
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.about--3__item:nth-child(odd) {
  background: #ffdec1;
}

.about--3__item:nth-child(even) {
  background: #fee7d3;
}

.about--3__item:nth-child(odd) .about--3__wrapp-svg {
  background-color: #fee7d3;
}
.about--3__item:nth-child(even) .about--3__wrapp-svg {
  background-color: #ffdec1;
}

.about--3__item:nth-child(1) .about--3__wrapp-svg {
  background-image: url("../img/benefit-1-icon.svg");
}
.about--3__item:nth-child(2) .about--3__wrapp-svg {
  background-image: url("../img/benefit-2-icon.svg");
}
.about--3__item:nth-child(3) .about--3__wrapp-svg {
  background-image: url("../img/benefit-3-icon.svg");
}
.about--3__item:nth-child(4) .about--3__wrapp-svg {
  background-image: url("../img/benefit-4-icon.svg");
}

.about--4 {
  position: relative;
  background-color: #f9f0eb;
}

.about--4::after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 50%;
  width: 355px;
  height: 355px;
  background: url("../img/map-1-img.jpg") no-repeat center / cover;
  transform: translateX(-50%);
}

.about--4__container {
  padding: 70px 0 0;
  display: flex;
  flex-direction: row;
}

.about--4__wrapp-img {
  width: 50%;
}

.about--4__img {
  position: relative;
  top: 82px;
  width: 90%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
}

.about--4__wrapp-body {
  padding: 140px 0 0;
  width: 50%;
}

.about--4__title {
  margin-bottom: 80px;
  font-size: 75px;
  line-height: 75px;
  color: var(--text-color);
  text-wrap: balance;
}

.about--4__title span {
  color: #936641;
}

.about--4__inner-text {
  padding-left: 290px;
}

.about--4__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  max-width: 450px;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 22px;
  color: var(--text-color);
}

.about--4__text::before {
  content: "";
  position: relative;
  width: 42px;
  height: 3px;
  background-color: #dc9356;
}

.about--5 {
}

.about--5__list-title {
  display: flex;
  flex-direction: row;
}

.about--5__item-title {
  width: 50%;
}

.about--5__item-title:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 21%;
}

.about--5__container {
  padding: 315px 0 0;
}

.about--5__title {
  font-size: 50px;
  line-height: 55px;
  text-wrap: balance;
}

.about--5__title:nth-child(1) {
  margin-bottom: 30px;
}

.about--5__title:nth-child(2) {
  padding-left: 220px;
}

.about--5__title span {
  font-size: 120px;
  line-height: 43px;
  text-transform: capitalize;
  font-family: var(--second-family);
}

.about--5__subtitle {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  max-width: 320px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 22px;
  color: #fff;
}

.about--5__subtitle::before {
  content: "";
  position: relative;
  width: 42px;
  height: 3px;
  background-color: #dc9356;
}

.about--5__text {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-wrap: balance;
}

.about--5__list {
  position: relative;
  top: 60px;
  gap: 40px;
  display: flex;
}

.about--5__item {
  display: flex;
  align-items: flex-end;
  flex: auto 1 1;
}

.about--5__img {
  width: 100%;
  font-size: 0;
  object-fit: contain;
}

.about--6 {
  padding-bottom: 150px;
  background: #3e352e;
}

.about--6__container {
  padding: 200px 0 150px;
  margin-bottom: 50px;
}

.about--6__list-title {
  display: flex;
  flex-direction: row;
}

.about--6__item-title {
  width: 50%;
}

.about--6__item-title:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 21%;
}

.about--6__container {
  padding: 315px 0 0;
}

.about--6__title {
  font-size: 75px;
  line-height: 75px;
  text-wrap: balance;
}

.about--6__title span {
  color: var(--color);
}

.about--6__text {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  max-width: 320px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  text-wrap: balance;
}

.about--6__text::before {
  content: "";
  position: relative;
  width: 42px;
  height: 3px;
  background-color: #dc9356;
}

.about--6__list {
  gap: 40px;
  display: flex;
}

.about--6__item {
  display: flex;
  align-items: flex-end;
  flex: auto 1 1;
}

.about--6__img {
  width: 100%;
  font-size: 0;
  object-fit: contain;
}

.about--7 {
  padding: 138px 0 160px;
}

.about--7__container {
  margin-bottom: 50px;
}

.about--7__title {
  margin-bottom: 55px;
  font-size: 75px;
  line-height: 75px;
  text-wrap: balance;
}
.about--7__title span {
  color: var(--color);
}

.about--7__list {
  gap: 40px;
  display: flex;
}

.about--7__item {
  display: flex;
  align-items: flex-end;
  flex: auto 1 1;
}

.about--7__img {
  width: 100%;
  font-size: 0;
  object-fit: contain;
}

.request--2 {
}

.request--2__container {
}

.request--2 {
  background: #f9f0eb;
}

.request--2__container .grid-item {
  padding: 200px 0;
}

.request--2__container .grid-item:nth-child(1) {
  width: 57.5%;
}

.request--2__container .grid-item:nth-child(2) {
  width: 42.5%;
  padding: 200px 120px;
  background: #fff;
}

.request--2__container {
  display: flex;
  padding-right: 220px;
}

.request--2 .grid-item:nth-child(1) {
  padding-right: 80px;
}

.grid-item > .request--2__title:nth-child(1) {
  padding-left: 220px;
}

.grid-span {
  padding-left: 220px;
}

.request--2__title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  color: var(--text-color);
}

.request--2__title.font {
  margin-bottom: 40px;
  font-size: 110px;
  color: #936641;
  text-transform: initial;
  font-family: var(--second-family);
}

.request--2__desc {
  font-size: 24px;
  color: var(--text-color);
}

.request--2__link {
  color: #936641;
  font-weight: 600;
}

.request--2__form {
  display: flex;
  flex-direction: column;
}

.request--2__btn {
  width: max-content;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  background: #936641;
  border-radius: 5px;
  padding: 14px 56px;
}
